@import "bootstrap/dist/css/bootstrap.min.css";

#upper-figure {
    font-size: 80px;
}

#middle-number {
    font-size: 150px;    
}

#lower-figure {
    font-size: 80px;
    transform: rotate(180deg);
}

.myCard{
    width: 300px; 
    height: 400px;
    border-radius: 15px;
}

.diamond {
    color: red;
}

.heart {
    color: red;
}

.spade {
    color: black;
}

.club {
    color: black;
}

